<%= form_with(model: new_chatroom) do |form| %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <div class="control">
      <%= form.text_field :name, id: :chatroom_name, class: 'input', placeholder: 'Chatroom name' %>
    </div>
  </div>

  <div class="field">
    <%= form.submit 'Create', class: 'button' %>
  </div>
<% end %>
