<div class="menu">
  <p class="menu-label">
    <%= @chatroom.name %>
  </p>
</div>

<div data-behavior="messages" class="box">
</div>

<%= form_with(model: [@chatroom, Message.new]) do |f| %>
  <%= f.text_area :body, rows: 1, class: 'textarea', placeholder: 'Write a message...' %>
<% end %>

