/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
	min-height: 100vh;
}

::-webkit-input-placeholder {
	color: #c2c2c2;
}

.box {
	border: 1px solid #dbdbdb;
	box-shadow: none;
}

.input {
	box-shadow: none;
}

.input:focus {
	box-shadow: none;
}

.primary {
	background-color: $primary;
}

.margin-bot-15 {
	 margin-bottom: 30px;
 }

 .bold {
	 font-weight: 500;
 }

 .message {
	border-radius: 50px;
}

.message-body {
	border: 1px solid #dbdbdb;
	border-radius: 50px;
	padding: .5em 1.5em;
}

.subtitle:not(:last-child) {
	 margin-bottom: .8rem;
}

.border-dark {
	border: 1px solid #95a5a6;
}

.column {
	padding: 0.25rem;
}

div[data-behavior="messages"] {
	margin-top: 26px;
	height: 60vh;
	overflow: scroll;
}

@media screen and (min-width: 448px){
	.container.main {
		max-width:448px - 64px;
		width: 448px - 64px;
	}
}

@media screen and (min-width: 512px){
	.container.main {
		max-width:512px - 64px;
		width: 512px - 64px;
	}
}

@media screen and (min-width: 576px){
	.container.main {
		max-width: 576px - 64px;
		width: 576px - 64px;
	}
}

@media screen and (min-width: 640px){
	.container.main {
		max-width: 640px - 64px;
		width: 640px - 64px;
	}
}

@media screen and (min-width: 704px){
	.container.main {
		max-width: 704px - 64px;
		width: 704px - 64px;
	}
}

@media screen and (min-width: 768px){
	.container.main {
		max-width: 768px - 64px;
		width: 768px - 64px;
	}
}

@media screen and (min-width: 832px){
	.container.main {
		max-width: 832px - 64px;
		width: 832px - 64px;
	}
}

@media screen and (min-width: 896px){
	.container.main {
		max-width: 896px - 64px;
		width: 896px - 64px;
	}
}

@media screen and (min-width: 960px){
	.container.main {
		max-width: 896px;
		width: 896px;
	}
}

@media screen and (min-width: 1024px){
	.container.main {
		max-width: 960px;
		width: 960px;
	}
}

@media screen and (min-width: 1216px){
	.container.main {
		max-width: 1152px;
		width: 1152px;
	}
}

